*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: black;
}

.heading{
    font-size: 32px;
    font-weight: bolder;
}

.container{
    margin: 0 auto;
    max-width: 300px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: white;
    padding: 20px;
}

.circle{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}

.circle-orange{
    border: 3px solid orange;
}

.text-css{
    font-size: 32px;
    font-weight: bolder;
}

.btn-box{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.btn-css{
    padding: 10px 32px;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transform: background-color 1s;
}

.btn-css:hover{
    background-color: orange;
    color: white;
}